/*
// aqua: #8ec07c
// green #b8bb26
// yellow: #fabd2f
// white: #ebdbb2 
*/

.hero-div {
  margin-top: 190px;
  margin-bottom: 200px;
}

.project-peek-div{
  margin-top: 50px;
  border: 3px solid #fe8019;
  border-radius: 10px;
  width: fit-content;
  padding-top: 0px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.title-div {
  margin-bottom: 50px;
}

.internal-link {
  color: #fe8019;
}

p {
  color: #ebdbb2;
  letter-spacing: .05em;
  line-height: 160%;
  text-align: left;
  font-family: sans-serif;
}

.highlight-text {
  color: #fe8019;
}

.off-white-text {
  color: #ebdbb2;
}

.orange-text-50-trans {
  color: #fe801950;
}

.off-white-text-trans {
  color: #ebdbb250;
}

.aqua-text-trans {
  color: #8ec07c50;
}

.green-text-trans {
  color: #b8bb2650;
}

.yellow-text-trans {
  color: #fabd2f50;
}

.tab{
  margin-left: 4ch; /*ch specifies the width of the glyph '0'*/
}

code {
  font-size: 16px;
  text-align: left;
  font-family: 'SF Mono', 'Fira Code', 'Fira Mono', 'Roboto Mono', monospace;
}

.title {
  color: #ffffff;
  font-size: 60px;
  text-align: left;
  font-family: sans-serif;
  vertical-align: -12px;
  margin-left: 25px;
  margin-right: 25px;
}

